# pure swift libs
github "SnapKit/SnapKit" ~> 5.0.1
github "Alamofire/Alamofire" ~> 5.4.0
github "onevcat/Kingfisher" ~> 5.15.8
github "onevcat/APNGKit" ~> 1.2.2
github "SwiftyJSON/SwiftyJSON" ~> 5.0.0

# import obj-c libs
github "jdg/MBProgressHUD" ~> 1.2.0
