<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>11</key>
	<string>全屏演示</string>
    <key>12</key>
    <string>全屏演示</string>
    <key>13</key>
    <string>全屏演示</string>
    <key>14</key>
    <string>全屏演示</string>
    <key>15</key>
    <string>全屏演示</string>
    
    <key>21</key>
    <string>全屏演示</string>
    <key>22</key>
    <string>全屏演示</string>
    <key>23</key>
    <string>全屏演示</string>
    <key>24</key>
    <string>全屏演示</string>
    <key>25</key>
    <string>全屏演示</string>
    
    <key>31</key>
    <string>全屏演示</string>
    <key>32</key>
    <string>全屏演示</string>
    <key>33</key>
    <string>全屏演示</string>
    <key>34</key>
    <string>全屏演示</string>
    <key>35</key>
    <string>全屏演示</string>
    
    <key>41</key>
    <string>全屏演示</string>
    <key>42</key>
    <string>全屏演示</string>
    <key>43</key>
    <string>全屏演示</string>
    <key>44</key>
    <string>全屏演示</string>
    <key>45</key>
    <string>全屏演示</string>
    
    <key>51</key>
    <string>全屏演示</string>
    <key>52</key>
    <string>全屏演示</string>
    <key>53</key>
    <string>全屏演示</string>
    <key>54</key>
    <string>全屏演示</string>
    <key>55</key>
    <string>全屏演示</string>
</dict>
</plist>
