<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>这是一个大概的说明。正如你现在看到的样子，没有什么特异功能，只是集成或整合了常用的代码。当你看到现在这些字的时候，你就已经可以纯Coding撸代码了。这里我将分别介绍相关类库的使用</string>
	<string>界面中，将演示UI摆放工具《FSAutolayoutor》、UI创建工具《FSUICreator》的使用，之所以要单说这俩，是因为他们灰常之重要。实际开发中如果运用得当，能帮你节省不少代码，并且实现不错的效果。敢说不好用，我保证不打死你...当然开玩笑啦:)</string>
	<string>其他分类中，将演示一些常用工具类，比如字符串工具类、加密解密工具、服务器交互工具、提示工具等，这些工具类或者分类，看看名字就知道什么意思了，这里我也就不多说</string>
	<string>购物分类其实是电商APP中会常用的一些代码，比如购物车、商品展示、评价打分等，这里以淘宝客户端一些效果做演示，如果你是电商应用，应该能参考</string>
	<string>用户模块，顾名思义，就是跟用户相关的通用代码，例如登录、注册、意见反馈等</string>
	<string>好的，大该介绍到这里吧，如果你已经看到这里了，那么我要感谢下你的耐心，毕竟每个人的时间都是宝贵的，当然如果这份代码对你有用，那还是很好的。如果你愿意为此添加加瓦，欢迎GitHub贡献：https://github.com/tangkunyin</string>
</array>
</plist>
